
.neo-themes-caption {
	color: red;
	font-size: .6em;
	font-weight: 900;
	text-transform: italic;
}

/* main theme for everything */
body, input, button, .neo {
	background-color: #000;
	
	font-size: 20px;
	font-family: "Slate Pro", "Vegur", /*"Typewriter", "Courier New",*/ "Coconut", "Arial Black", "Myraid Pro Regular", sans-serif;
	/*letter-spacing:-1px;*/
	overflow: hidden;
}

.invalid {
	color: red !important;
	text-decoration:line-through;
}
.valid {
	color: green !important;
}
.validExists {
	color: purple !important;
	text-decoration:underline;
}

.neo-button, .neo-popup-list {
	letter-spacing: 0;
}


.truncating-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/* special */
.onyx-texture {
	/*-webkit-border-image: url('../../assets/images/onyx_texture.png') 2 4 repeat stretch;
	-o-border-image: url('../../assets/images/onyx_texture.png') 2 4 repeat stretch;
	-moz-border-image: url('../../assets/images/onyx_texture.png') 2 4 repeat stretch;*/
}

.neo-themes {
	box-shadow: inset 0 0 16px rgba(0,0,0.7);
	color: black;
}

/* column */
.neo-column {
	color: black;
	
	z-index: 0;
	-moz-box-shadow: 10px #000000;
	-webkit-box-shadow: 10px #000000;
	box-shadow: 10px #000000;
	
	/*border-left: 5px solid #000;
	border-right: 5px solid #000;*/
}
/* scrollFade */
.neo-column .scrollFade {
	position: absolute;
	/*pointer-events: none;*/
	bottom: 0px;
	/*background: url(../../../assets/images/scroll-fade.png) top left repeat-x;*/
}

/* container */
.neo-container {
	background-color: black; /* theme setting */
	color: white; /* theme setting */
	
	margin: 0px;
	padding: 0px;
	top: 0px;
	text-align: center;
	box-shadow: 0 0px 12px #000;
	
}


/* links */
.highlightable:active {
	background-color: #39658e;
}
a, .username, .hashtag, .link, .clickable {
	color: #444499;
	text-decoration: none;
}
.username.clickable, .hashtag.clickable {
	font-weight: bold;
}
a:active, .hashtag:active, .link:active, .username:active, .underlineOnClick:active, .clickable:active {

}

/* fixes padding */
.onyx-header-inner {
	/*padding: 0px 5px 0px 0px;*/
}

/* Columns Popup */
.accountSelection .onyx-menucheckitem-caption {
	padding-right: 0px;
}

/* Spinning animation while the column is reloading */
@-webkit-keyframes spinning {
from {
	-webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}

.spinning {
	-webkit-animation-name: spinning;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

/* for user/tweet view */
#neo_tweetview, #neo_userview {
	position: relative;
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
}

.onyx-imageviewpopup {
	min-width: 300px;
	z-index: 120;
	position: fixed;
	left: 0px;
	top: 0px;
}
/*
.ptrOuter {
	-webkit-transition: opacity 350ms ease-in-out;
	position: absolute;
	left: 0px;
	right: 0px;
	text-align: center;
	padding: 10px 20px;
}
.ptrInside {
	font-size: .9em;
	text-align: center;
	background-color: rgba(255, 255, 255, .5);
	-webkit-border-radius: 10px;
	padding: 3px 10px;
}*/

.neo-list-pulldown {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
}

.neo-puller-text {
	text-align: center;
	font-size: 2em !important;
}

.neo-puller-arrow {
	position: relative;
	width: 0px;
	height: 15px;
	margin: 20px;
	border: 8px solid;
	border-color: inherit;
	transition: transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-ms-transition: -ms-transform 0.3s;
}

.neo-puller-arrow:after {
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border: 20px solid transparent;
	border-bottom-color: inherit;
	bottom: 100%;
	left: 50%;
	margin-left: -20px;
}

.neo-puller-arrow-up {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}

.neo-puller-arrow-down.outside {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
.neo-puller-arrow-down.inside {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
}