html {
	height: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	margin: 0px auto;
	background: url(/images/light.jpg) fixed;
}

@font-face {
	font-family: 'CallunaRegular';
	src: url('/assets/fonts/calluna-regular-webfont.eot');
	src: local('☺'), url('/assets/fonts/calluna-regular-webfont.woff') format('woff'), url('/assets/fonts/calluna-regular-webfont.ttf') format('truetype'), url('/assets/fonts/calluna-regular-webfont.svg#webfontnVPp81bV') format('svg');
	font-weight: normal;
	font-style: normal;
}

.user-select-none {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
/*            user-select: none; */
}

.cursor_default {
	cursor: default;
}

.blur {
	filter: blur(2px);
	-webkit-filter: blur(2px);
	filter: url("./images/blur.svg#blur");
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius="2");
}


#loading_container {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: url(/images/light.jpg);
	text-align: center;
}

#loading {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 400px;
}

#loadingbg {
	display: block;
	height: 100%;
	width: 100%;
	background-color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;
	opacity: 0.4;
}

.scrim {
	display: block;
	background: url(/images/spinner-dark.gif);
	background-repeat: no-repeat;
	height: 55px;
	width: 54px;
	margin: 0 auto;
	padding-bottom: 15px;
}

.name {
	color: #0099ff;
	text-align: center;
	text-shadow:#000 0 1px 0;
	font-size: 18pt;
	font-family: 'CallunaRegular', sans-serif;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	position: relative;
	bottom: 10px;
	margin-left: 15px;
}

.title {
	color: #aaa;
	text-align: center;
	text-shadow:#000 0 1px 0;
	font-size: 30pt;
	font-family: 'CallunaRegular', sans-serif;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	position: relative;
	bottom: 10px;
}

header {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(/images/dark.png);
	overflow: hidden;
}

.button {
	background: url(/images/gradient.png);
	background-color: #444439;
}

/* Header  */
#header_text {
	height: 100%;
	min-height: 100%;
	margin-right: 100px;
}

.logo_mini {
	background: url(/images/logo_mini.png) no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	height: 36px;
	width: 36px;
	margin-left: 15px;
	margin-top: 7px;
	display: inline-block;
}

#login_button {
	position: absolute;
	top: 10px;
	right: 5px;
}
/* end header */

.clearpx {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(/images/blank.gif);
	z-index: 10;
}

#background-container {
	margin-top: 50px;
	position: fixed;
	width: 100%;
	z-index: 2;
	height: calc(100% - 100px); /* IE9+ and future browsers */
	height: -moz-calc(100% - 100px); /* Firefox */
	height: -webkit-calc(100% - 100px); /* Chrome, Safari */
	-webkit-box-shadow: 0 8px 20px -10px #000000, 0 -8px 20px -10px #000000;
	   -moz-box-shadow: 0 8px 20px -10px #000000, 0 -8px 20px -10px #000000;
	        box-shadow: 0 8px 20px -10px #000000, 0 -8px 20px -10px #000000;
	text-align: center;
}

#photos {
	width: 100%;
	height: 100%;
}

.background-photo { 
	margin: 0 auto;
	position: fixed;
	width: 100%;
	overflow: hidden;
	display: none;
	height: calc(100% - 100px); /* IE9+ and future browsers */
	height: -moz-calc(100% - 100px); /* Firefox */
	height: -webkit-calc(100% - 100px); /* Chrome, Safari */
}

.background-photo img {
	max-height: 90%;
	max-width: 90%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 25px rgba(50, 50, 50, 1);
}

.slideshow-image {
	display: block;
	min-height: 90%;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#bullet_container {
	display: inline-block;
	text-align: center;
	height: 24px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 3px;
	background-color: rgba(255,255,255,0.4);
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	position: relative;
	bottom: 37px;
}

.li_slideshow {
	display: inline-block;
	background-image: url(/images/bullet.png);
	background-repeat: no-repeat;
	background-position: top;
	width: 8px;
	height: 8px;
	background-size: 100%;
	margin-left: 2px;
	margin-right: 2px;
	max-height: 50%;
	min-height: 2px;
	opacity: 0.9;
}

.li_slideshow.active {
	background-position: bottom;
}

.box-shadow {  
	-webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 20px rgba(50, 50, 50, 0.75);
}

footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background: url(/images/dark.png);
}